* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  box-sizing: border-box;
  --header-color: #9ca3af;
  --main-color: #e5e7eb;
  --sidebar-color: #374151;
  --card-color: rgb(17, 24, 39, 0.6);
}

input#author:invalid,
input#title:invalid,
input#pages:invalid {
  border: 3px red solid;
}

input#author:valid,
input#title:valid {
  border: 3px green solid;
}

.logo:hover {
  transform: scale(1.1);
}
.caption:hover {
  transform: scale(1.1);
}

label[for="title"]::after,
label[for="author"]::after {
  content: "*";
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

label[for="image"]:hover,
button:hover {
  transform: scale(0.95);
}

body {
  height: 100vh;
  width: 100vw;
  background: lightblue;
  display: grid;
  grid-template: 1fr 5fr / 1fr 4fr;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  background-color: var(--header-color);
}

.main {
  grid-area: 2 / 2 / 2 / 3;
  background-color: var(--main-color);
  display: grid;
  overflow: auto;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem 2rem;
  padding: 2rem;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: var(--sidebar-color);
  display: grid;
  grid-template-rows: 2fr 1fr;
  row-gap: 10rem;
}

.card {
  height: 500px;
  width: 250px;
  gap: 0.3rem;
  border: 0.2rem black solid;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  color: white;
}

.completed {
  border-color: green;
  background-color: rgb(0, 128, 0, 0.6);
}

.logo {
  height: 3rem;
  width: auto;
  margin-left: 0.5rem;
}

.title {
  width: 100%;
  height: 100%;
  font-size: 4rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.caption {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-self: flex-end;
  color: white;
  height: 4lh;
  margin-bottom: 1vh;
}

.about {
  margin-bottom: 0.5rem;
}

#is-read,
input#read {
  width: 1.2rem;
  height: auto;
}
.sidebar .addBook,
.removeAll,
.remove {
  padding: 0.4rem 2rem;
  font-size: 1.1rem;
  text-align: center;
  color: white;
  border-color: white;
  background-color: var(--card-color);
  width: 68%;
  border-radius: 0.5rem;
}

button.add,
button.back {
  padding: 0 2rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  height: 70%;
  text-align: center;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.35);
  outline: none;
}

button.add {
  grid-column: 1/2;
  background-color: green;
}

button.back {
  grid-column: 2/3;
  background-color: red;
  grid-area: 9 / 2 / 10 / 4;
}

.thumbnail {
  width: 100%;
  height: 70%;
  border-radius: 1rem;
  border: 2px solid white;
}

.book-title {
  font-size: 1.3rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.author {
  font-size: 1.1rem;
  width: 100%;
  text-align: center;
}

.pages {
  width: 100%;
  text-align: center;
}

.checkbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.modal {
  position: fixed;
  background-color: var(--sidebar-color);
  color: white;
  top: 50%;
  left: 50%;
  border: 1px solid white;
  border-radius: 10px;
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  display: grid;
  row-gap: 0.2rem;
  grid-template: 1fr 6fr / repeat(2, 1fr);
  height: 500px;
  z-index: 3;
  width: 300px;
  max-width: 50%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
}

input#image {
  display: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  align-self: center;
  justify-self: center;
  grid-column: 1/3;
  white-space: nowrap;
}
.escape {
  grid-area: 1 / 1 / 2 / 3;
  border: none;
  outline: none;
  background: none;
  font-weight: bold;
  font-size: 2rem;
  justify-self: end;
  align-self: start;
  cursor: pointer;
  padding-right: 0;
}

form.new-book {
  grid-area: 1/ 1 / 3 / 3;
  display: grid;
  margin-top: 0;
  grid-template: repeat(9, 1fr) / 1fr 1fr;
  justify-items: center;
  height: 100%;
}

label[for="title"] {
  grid-area: 1 / 1 / 2 / 4;
  place-self: center;
}

input[type="file"] {
  width: 100%;
}

input#author,
input#title,
input#pages {
  padding: 10px;
  border-radius: 0.5rem;
  border: 1px solid rgb(128, 128, 128, 0.25);
  background: black;
  outline: none;
  color: #fff;
  font-size: 1.2rem;
}

input#title {
  grid-area: 2 / 1 / 3 / 4;
}

label[for="author"] {
  grid-area: 3 / 1 / 4 / 4;
  place-self: center;
}

input#author {
  grid-area: 4 / 1 / 5 /4;
}

label[for="image"] {
  grid-area: 7/ 1 / 8 / 4;
  display: inline-block;
  color: #fff;
  background: blue;
  text-align: center;
  padding: 0.5rem 1.2rem;
  letter-spacing: 0.05rem;
  margin: 0.8rem;
  text-transform: uppercase;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.35);
  border-radius: 0.3rem;
  place-self: center;
  user-select: none;
}

input#image {
  grid-area: 8 / 1 / 9 / 4;
}
label[for="read"] {
  grid-area: 8 / 1 / 9 / 3;
  user-select: none;
  justify-self: start;
  align-self: center;
}

label[for="read"],
label[for="is-read"] {
  pointer-events: none;
  user-select: none;
}

label[for="pages"] {
  grid-area: 5 / 1 / 6 / 4;
  place-self: center;
}

input#pages {
  grid-area: 6 / 1 / 7 / 4;
}

input#read {
  grid-area: 8 / 3 / 9 / 4;
}

input[type="text"],
input[type="number"] {
  width: 100%;
}

label {
  font-size: 1.4rem;
}

#overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  min-width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}
